@import "tailwindcss";/* index.css */

:root {
  --nav-font-size: 16px;   /* पूरा navbar यही size use करेगा */
  --nav-font-color: #544d4d; /* आपका दिया हुआ grey-ish tone */
  --main-gradient: linear-gradient(to right, #ff1f1f, #f8f7f1, #ffcc00);
}
.background-main-gradient {
  background: var(--main-gradient);
}
@media (min-width: 768px){
  .nav-item {
    font-size: calc(var(--nav-font-size) / 1.2); /* Medium screens के लिए बड़ा font size */
  }
}